<md-button class="md-button-toggle" ng-click="toggle()">
    <div flex layout="row">
        <md-icon md-font-icon="material-icons" class="md-section-icon" ng-if="section.icon">{{section.icon}}</md-icon>
        {{section.name}}
        <span flex></span>
        <span class="md-toggle-icon" ng-class="{'toggled' : isOpen()}">
            <md-icon md-svg-src="md-toggle-arrow"></md-icon>
        </span>
    </div>
</md-button>

<ul class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link page="page"></menu-link>
    </li>
</ul>
