<md-toolbar>
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
</md-toolbar>

<md-content flex role="navigation">

    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img alt="" src="images/avatar.jpg">
            </div>

            <div class="profile-info">
                Malinda Hollaway
            </div>
        </a>
    </div>

    <ul class="sidebar-menu" menu="menu.sections"></ul>

</md-content>
