
@import 'variables';
@import 'mixins';
@import 'fonts';

@import '../../node_modules/angular-material/angular-material';
@import '../../node_modules/angular-datatable/app/md-data-table/styles/md-data-table';

@import 'material';
@import 'sidebar';
@import 'button';
@import 'toolbar';

@import '../modules/menu/menu';

body {
    display   : flex;
    overflow  : hidden;
    max-width : 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}
