// main: app.scss

@font-face {
    font-family: roboto;
    src        : url("../fonts/Roboto-Light.eot");
    src        : url("../fonts/Roboto-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Light.woff") format('woff'), url("../fonts/Roboto-Light.ttf") format('truetype'), url("../fonts/Roboto-Light.svg#icon") format('svg');
    font-weight: 300;
    font-style : normal;
}

/*
 * Roboto Regular
 */
@font-face {
    font-family: roboto;
    src        : url("../fonts/Roboto-Regular.eot");
    src        : url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype'), url("../fonts/Roboto-Regular.svg#icon") format('svg');
    font-weight: 400;
    font-style : normal;
}

/*
 * Roboto Medium
 */
@font-face {
    font-family: roboto;
    src        : url("../fonts/Roboto-Medium.eot");
    src        : url("../fonts/Roboto-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Medium.woff") format('woff'), url("../fonts/Roboto-Medium.ttf") format('truetype'), url("../fonts/Roboto-Medium.svg#icon") format('svg');
    font-weight: 500;
    font-style : normal;
}

/*
 * Roboto Bold
 */
@font-face {
    font-family: roboto;
    src        : url("../fonts/Roboto-Bold.eot");
    src        : url("../fonts/Roboto-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Bold.woff") format('woff'), url("../fonts/Roboto-Bold.ttf") format('truetype'), url("../fonts/Roboto-Bold.svg#icon") format('svg');
    font-weight: 700;
    font-style : normal;
}


/*
 *  Material Icon
 */
@font-face {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style : normal;
    src        : local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/MaterialIcons-Regular.woff") format('woff'), url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family            : 'Material Icons';
    font-size              : 24px;
    font-weight            : normal;
    font-style             : normal;
    line-height            : 1;
    display                : inline-block;
    width                  : 1em;
    height                 : 1em;
    letter-spacing         : normal;
    text-transform         : none;
    word-wrap              : normal;
    -webkit-font-smoothing : antialiased;
    text-rendering         : optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings  : 'liga';
}
