// main: app.scss

/**
*     Content
**/
md-content {
    background-color: $body-bg;
}



/**
*    Toolbar
*/
md-toolbar[ui-view='topbar'] {
    z-index   : 3;
    color     : white !important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
}

md-content {
    > md-toolbar {
        position: fixed;

        & + * {
            padding-top: 82px;
        }
    }
}


/**
*    Menu
*/
.md-open-menu-container {
    transform       : scale(0);
    transform-origin: right top;

    &.md-active {
        transform: scale(1);
        > md-menu-content > * {
            transition: none;
        }
    }


    &.md-leave {
        transform: scale(0);
    }
}


.md-menu {
    padding: 0;
}


/**
*     List
**/
md-list-item,
md-list-item .md-list-item-inner {
    & > md-icon:first-child {
        margin-right: 16px;
        margin-left : 16px;
    }
}


/**
*    Card
**/
md-card-header {
    position        : relative;
    padding         : 16px;
    background-color: $gray-lightest;

    & > h2 {
        margin     : 0;
        line-height: 100%;
        font-size  : 17px;
        font-weight: 400;

        & > small {
            display    : block;
            margin-top : 5px;
            color      : #aeaeae;
            line-height: 160%;
        }
    }


    .md-actions {
        padding-right: 0;
    }
}


md-card-footer {
    margin-bottom: 10px;
    margin-right : 5px;
    padding      : 8px;

    height: 56px;
    border-top: 1px $gray-lighter solid;
    font-size: 12px;
    font-weight: 500;

    & > :not(:first-child) {
      margin-left: 16px;
    }

    & > :not(:last-child) {
      margin-right: 16px;
    }
}


md-block-header {
    padding: 20px 16px 0 25px;

    & > h2 {
        font-size     : 15px;
        color         : #777;
        margin        : 0;
        font-weight   : 400;
        text-transform: uppercase;

        & > small {
            display       : block;
            text-transform: none;
            margin-top    : 8px;
            margin-bottom : 20px;
            color         : #9e9e9e;
            line-height   : 140%;
        }
    }
}
