// main: app.scss
$menu-hover: rgba(0, 0, 0, .1);
$menu-selected: rgba(0, 0, 0, .5);
$section-text: rgba(0, 0, 0, .4);

md-backdrop.md-sidenav-backdrop.md-opaque {
    background-color: rgba(33,33,33,0.2);
    transition      : background-color 0 cubic-bezier(0.55, 0, 0.55, 0.2);
}

md-backdrop.md-sidenav-backdrop {

    //transition: background-color 50ms $swift-ease-in-timing-function;
    z-index: 2;
}

/**
* Sidebar
**/
md-sidenav {
    width    : 256px;
    min-width: 256px;
    max-width: 256px;

    &.md-closed-add,
    &.md-closed-remove {
        display   : flex;
        transition: 300ms all;
    }

    &.md-sidenav-left {
        z-index   : 2;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
    }

    md-content {
        background-color: white;
    }

    .profile-menu {
        & > a {
            display        : block;
            width          : 100%;
            height         : 129px;
            margin-bottom  : 5px;
            background     : url("../images/profile-menu.jpg") no-repeat left top;
            background-size: 100%;

            .profile-pic {
                padding: 12px;

                & > img {
                    box-sizing   : content-box;
                    width        : 47px;
                    height       : 47px;
                    border       : 3px solid rgba(0, 0, 0, .14);
                    border-radius: 50%;
                }
            }

            .profile-info {
                position  : relative;
                margin-top: 1rem;
                padding   : 6px 0 7px 16px;
                color     : #fff;
                background: rgba(0, 0, 0, .37);

                & > i {
                    font-size  : 19px;
                    line-height: 100%;
                    position   : absolute;
                    top        : 7px;
                    right      : 15px;
                }
            }
        }
    }

    .sidebar-menu {
        padding    : 0;
        list-style : none;
        margin-top : 0;
        font-size  : 13px;
        font-weight: 500;
        overflow-x: hidden;

        ul {
            padding   : 0;
            list-style: none;
        }

        li {
            margin: 0;
        }

        .md-button {
            line-height    : 40px;
            display        : block;
            overflow       : hidden;
            width          : 100%;
            max-height     : 40px;
            margin         : 0;
            padding        : 0 16px;
            cursor         : pointer;
            text-align     : left;
            white-space    : normal;
            text-decoration: none;
            border-radius  : 0;
            align-items    : inherit;

            &:hover {
                background: $menu-hover !important;
            }

            &:focus {
                background: $menu-hover !important;
            }

            &.active {
                background: $menu-selected;
            }
        }

        > li {
            border-bottom: 1px solid lighten($section-text, 70%);

            &:nth-child(1) {
                border-top: none;
            }
        }

        button.md-button::-moz-focus-inner {
            padding: 0;
        }

        .menu-heading {
            line-height: 32px;
            display    : block;
            width      : 100%;
            margin     : 0;
            padding    : 8px 16px 0;
            text-align : left;
            color      : $section-text;
        }

        .md-button-toggle {
            .md-section-icon {
                font-size   : 1.2rem;
                margin-right: 12px;
                color       : black;
            }

            .md-toggle-icon {
                display       : block;
                margin-left   : auto;
                transition    : transform 0.1s ease-in-out;
                transform     : rotate(180deg);
                vertical-align: middle;
                speak         : none;

                &.toggled {
                    transform: rotate(0deg);
                }
            }
        }

        .menu-toggle-list {
            position           : relative;
            z-index            : 1;
            overflow           : hidden;
            transition         : 0.25s cubic-bezier(.35, 0, .25, 1);
            transition-property: height;

            a.md-button {
                font-weight   : 500;
                display       : block;
                padding       : 0 16px 0 52px;
                text-transform: none;
                text-rendering: optimizeLegibility;
            }
        }
    }
}
