// main: app.scss

/* Typography + Scaffolding + Links */
$body-bg: #edecec;
$text-color: #5e5e5e;
$font-family-sans-serif: roboto;
$font-size-base: 13px;
$link-hover-decoration: none;
$headings-color: #000;

/* Border Radius */
$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 2px;

/* Colors */
$brand-primary: #2196F3;
$brand-success: #4CAF50;
$brand-info: #03A9F4;
$brand-warning: #FFC107;
$brand-danger: #F44336;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: #212121;
$gray: #666;
$gray-light: lighten($gray-base, 80%);
$gray-lighter: lighten($gray-base, 90%);
$gray-lightest: lighten($gray-base, 97%);
