<md-toolbar layout="row" class="md-menu-toolbar">
    <md-button class="md-button md-raised">
        Action
    </md-button>

    <md-button class="md-button md-raised md-primary">
        Another
    </md-button>
</md-toolbar>

<md-block-header layout="row">

    <h2 flex>Flot Charts
        <small>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.</small>
    </h2>

    <div class="md-actions" layout-align="end start" layout="row">
        <md-button class="md-icon-button">
            <md-icon md-font-icon="material-icons">delete</md-icon>
        </md-button>
        <md-menu md-offset="0 30" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-icon="material-icons" md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="menu.redial($event)">
                        <md-icon md-font-icon="material-icons" md-menu-align-target>dialpad
                        </md-icon>
                        Redial
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button disabled="disabled" ng-click="menu.checkVoicemail()">
                        <md-icon md-font-icon="material-icons">voicemail</md-icon>
                        Check voicemail
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="menu.toggleNotifications()">
                        <md-icon md-font-icon="material-icons">{{ctrl.notificationsEnabled ? 'location_on' : 'location_off' }}</md-icon>
                        {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }}
                        notifications
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

</md-block-header>

<test-component></test-component>

<md-card>
    <md-card-header layout="row">
        <h2 flex>Line Chart with curved edges
            <small>Curved edges made possible using curvedLines Flot plugin.</small>
        </h2>

        <div class="md-actions" layout-align="end start" layout="row">
            <md-button class="md-icon-button">
                <md-icon md-font-icon="material-icons">delete</md-icon>
            </md-button>
            <md-menu md-offset="0 30" md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="material-icons" md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="menu.redial($event)">
                            <md-icon md-font-icon="material-icons" md-menu-align-target>dialpad</md-icon>
                            Redial
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="menu.checkVoicemail()">
                            <md-icon md-font-icon="material-icons">voicemail</md-icon>
                            Check voicemail
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="menu.toggleNotifications()">
                            <md-icon md-font-icon="material-icons">{{ctrl.notificationsEnabled ? 'location_on' : 'location_off' }}</md-icon>
                            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }}
                            notifications
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </md-card-header>

    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>

    <md-card-footer class="md-actions" layout-align="end center" layout="row">
        <md-button ng-click="menu.show($event)">Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-footer>

</md-card>

<md-card ng-repeat="item in []">
    <md-card-content>
        <h2 class="md-title">Paracosm
            {{item}}</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
</md-card>

<md-card>
    <md-card-header ng-show="!menu.selected.length">
        <h2>Nutrition</h2>
    </md-card-header>

    <md-card-header ng-show="menu.selected.length">
        <h2>{{menu.selected.length}}
            {{menu.selected.length > 1 ? 'items' : 'item'}}
            selected</h2>
    </md-card-header>

    <md-data-table-container>
        <table md-data-table md-progress="deferred" md-row-select="menu.selected">
            <thead md-order="menu.query.order" md-trigger="menu.onOrderChange">
                <tr>
                    <th name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-numeric="{{column.numeric}}" ng-attr-order-by="{{column.orderBy}}" ng-attr-trim="{{column.trim}}" ng-attr-unit="{{column.unit}}" ng-repeat="column in menu.columns"></th>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select md-disable-select="dessert.calories.value > 300" ng-repeat="dessert in menu.desserts.data | orderBy: menu.query.order | limitTo: menu.query.limit : (menu.query.page -1) * menu.query.limit">
                    <td>{{dessert.name}}</td>
                    <td>
                        <md-select ng-model="dessert.type" placeholder="Other">
                            <md-option ng-repeat="type in getTypes()" ng-value="type">{{type}}</md-option>
                        </md-select>
                    </td>
                    <td>{{dessert.calories.value}}</td>
                    <td>{{dessert.fat.value | number: 2}}</td>
                    <td>{{dessert.carbs.value}}</td>
                    <td>{{dessert.protein.value | number: 2}}</td>
                    <td>{{dessert.sodium.value}}</td>
                    <td show-unit>{{dessert.calcium.value}}</td>
                    <td hide-sm show-unit>{{dessert.iron.value}}</td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="menu.query.limit" md-page="menu.query.page" md-total="{{menu.desserts.count}}" md-trigger="menu.onPageChange"></md-data-table-pagination>

    <md-card-footer class="md-actions" layout-align="end center" layout="row">
        <md-button ng-click="">Trigger Outside Event</md-button>
        <md-button ng-click="menu.show($event)">Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-footer>

</md-card>
