<md-card>
    <md-card-header layout="row">
        <h2 flex>{{ctrl.title}}
            <small>Curved edges made possible using curvedLines Flot plugin.</small>
        </h2>
    </md-card-header>

    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
</md-card>
